.navbar {
    width: 50px;
    height: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    // transition: all 0.5s ease;
    background-color: var(--whiter);
    @media screen and (max-width: 525px) {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #toggleThemeIcon {
        fill: var(--black);
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .liWrapper {
        display: flex;
        width: 200px;
        @media screen and (max-width: 525px) {
            width: 50px;
        }
        div.flexCenter {
            width: 50px;
            height: 50px;
            position: relative;
            svg {
                position: absolute;
                width: 30px;
                height: 30px;
                top: 10px;
                left: 10px;
                .cls-1 {
                    fill: var(--black);
                    stroke: var(--black);
                    stroke-miterlimit: 10;
                    stroke-width: 0.5px;
                }
            }
        }
        .menu-desc-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 150px;
            height: 50px;
            padding-right: 50px;
            @media screen and (max-width: 525px) {
                display: none;
            }
            p {
                opacity: 1;
                padding: 5px 15px;
                // color: var(--white);
                // background-color: var(--gray-black);
                color: #f0f0f0;
                background-color: #202020;
                font-size: 13px;
                border-radius: 5px;
                white-space: nowrap;
                margin-left: 5px;
                box-shadow: 0px 0px 3px white;
            }
        }
    }
}
