.two-col {
    display: flex;
    flex-wrap: wrap;
}
.two-col .col {
    width: 45%;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .two-col .col {
        width: 90%;
    }
}
form#contactForm {
    display: flex;
    flex-direction: column;
}
form#contactForm input:first-child {
    background: url("./contact_icons/avatar.svg") center right 20px no-repeat;
    background-size: 20px;
    color: rgb(112, 112, 112);
}
form#contactForm input:nth-child(2) {
    background: url("./contact_icons/envelope.svg") center right 20px no-repeat;
    background-size: 20px;
    color: rgb(112, 112, 112);
}
form#contactForm textarea {
    background: url("./contact_icons/chat.svg") top 10px right 20px no-repeat;
    background-size: 20px;
    color: rgb(112, 112, 112);
    resize: none;
}

.form-group {
    margin-top: 10px;
}
form#contactForm input,
form#contactForm textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solidvar(--blue);
    padding: 10px 50px 10px 10px;
    margin-top: 10px;
    font-family: "Comfortaa", cursive;
}
form#contactForm input:focus,
form#contactForm textarea:focus {
    outline: none;
    box-shadow: inset 0 0 0px 1px var (--blue);
}
.contact-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 220px;
    margin: 15px auto 0 auto;
    p {
        color: var(--black);
    }
    a {
        color: var(--blue);
    }
}
.contact-box.first {
    margin: 32px auto 0 auto;
}
.contact-box img {
    width: 25px;
    height: 25px;
}
.social-media {
    display: flex;
    max-width: 325px;
    margin: 75px auto 0 auto;
    justify-content: center;
}
.social-media svg {
    width: 55px;
    height: 55px;
    transition: all 0.3s ease;
    fill:var(--black);
}
.social-media svg:hover {
    width: 65px;
    height: 65px;
    cursor: pointer;
}
