.typewriter-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    > div {
        width: 100%;
        height: 300px;
        position: relative;
        top: -30px;
        @media screen and (max-width: 525px) {
            height: 150px;
            top: -10px;
        }
        h2:nth-child(1) {
            text-align: center;
            color: var(--white);
            text-shadow: 1px 1px 30px var(--black);

            font-size: 72px;
            margin: 0;
            @media screen and (max-width: 525px) {
                font-size: 13vw;
            }
        }
        h2.typewriter {
            font-weight: 700;
            margin: 0.4rem;
            font-size: 48px;
            color: var(--white);
            text-shadow: 1px 1px 30px var(--black);
            position: absolute;
            width: 100%;
            text-align: center;
            @media screen and (max-width: 525px) {
                font-size: 8vw;
            }
            // transform: translate(-50%, -50%);
        }
        .txt-type > .txt {
            padding-right: 5px;
            animation: borderFade 0.6s infinite;
        }
        @keyframes borderFade {
            0% {
                border-right: 0.3rem solid white;
            }
            100% {
                border-right: 0.3rem solid #b6a3a3;
            }
        }
    }
    #toggleTheme1 {
        display: none;
        @media screen and (max-width: 525px) {
            display: block;
            width: 30px;
            height: 30px;
        }
    }
}
