.container-inner {
    max-width: 940px;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.languages-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.languages-grid .box-container {
    flex-basis: 16.6%;
    text-align: center;
    margin-top: 25px;
}
.languages-grid div.box {
    background-color: black;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.languages-grid svg {
    width: 65%;
    box-sizing: border-box;
}
.languages-grid svg path {
    fill: white;
}

.languages-grid .html5 path.first {
    fill: white;
    transition: 0.2s all;
}
.languages-grid .html5 path.second {
    fill: white;
    transition: 0.2s all;
}
.languages-grid .html5 path.third {
    fill: black;
    transition: 0.2s all;
}
.languages-grid .html5 path.fourth {
    fill: black;
    transition: 0.2s all;
}
.languages-grid .html5 path.fifth {
    fill: white;
    transition: 0.2s all;
}
.languages-grid .css3 path.first {
    fill: white;
    transition: 0.2s all;
}
.languages-grid .css3 path.second {
    fill: white;
    transition: 0.2s all;
}
.languages-grid .css3 path.third {
    fill: white;
    transition: 0.2s all;
}
.languages-grid .css3 path.fourth {
    fill: black;
    transition: 0.2s all;
}
.languages-grid .css3 path.fifth {
    fill: black;
    transition: 0.2s all;
}
.languages-grid .css3 path.sixth {
    fill: black;
    transition: 0.2s all;
}
.languages-grid .css3 path.seventh {
    fill: black;
    transition: 0.2s all;
}
.languages-grid .javascript path.first {
    fill: white;
    transition: 0.2s all;
}

.languages-grid .javascript path.second {
    fill: black;
    transition: 0.2s all;
}
