.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: blue;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
}

/*Button Component */
.button {
    border: 1px solid rgb(20, 33, 61);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.4s ease;
    padding: 10px 25px;
    border-radius: 25px;
}
.button img {
    padding: 0px;
    max-width: 0px;
    transition: all 0.5s ease;
}
.button:hover img {
    padding: 0 6px 0 12px;
    max-width: 8px;
}
