.hero-animated {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    min-width: 300px;
    transition: all 0.5s ease;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    }
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
        /* -webkit-backface-visibility: hidden; */
        -webkit-transform: translateZ(0) scale(1, 1);
        transform: translateZ(0);
        background: var(--black)
            url("./../../../assets/images/hero_background.jpg") center center
            no-repeat;
        background-size: cover;
        background-attachment: fixed;
        animation: grow 60s linear 10ms infinite;
        transition: all 0.5s ease-in-out;
        z-index: -2;
    }
}
@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
