.portfolio-grid-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.portfolio-code-wrapper {
    width: 100%;
    height: 300px;
    color: var(--black);
    flex-direction: column;
}
.portfolio-code-wrapper input {
    border-width: 0 0 2px 0;
    border-color: var(--blue);
    width: 300px;
    height: 80px;
    padding-left: 20px;
    font-size: 33px;
    caret-color: var(--blue);
}
.portfolio-code-wrapper input:focus {
    outline: 0;
}
.portfolio-tile {
    position: relative;
    width: 33.3%;
    height: 300px;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
        width: 50%;
    }
    @media screen and (max-width: 525px) {
        width: 100%;
    }
}
.portfolio-tile .project-info {
    flex-direction: column;
}
.portfolio-grid-container .portfolio-tile:nth-child(2) img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(6) img.project-image {
    width: 62px;
    height: 62px;
    padding: 10px;
    box-sizing: content-box;
}
.portfolio-grid-container .portfolio-tile:nth-child(3) img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(4) img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(5) img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(7) img.project-image {
    width: 72px;
    padding: 7px;
    box-sizing: content-box;
}
.portfolio-grid-container .portfolio-tile:nth-child(7) img.project-image {
    width: 72px;
    padding: 0px;
    box-sizing: content-box;
}

.portfolio-grid-container .portfolio-tile:nth-child(2):hover img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(6):hover img.project-image {
    width: 47px;
    height: 47px;
}
.portfolio-grid-container .portfolio-tile:nth-child(3):hover img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(4):hover img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(5):hover img.project-image,
.portfolio-grid-container .portfolio-tile:nth-child(7):hover img.project-image {
    width: 57px;
}

.portfolio-tile .project-info img.project-image {
    display: block;
    width: 150px;
    height: auto;
    transition: all 0.1s linear;
}
.portfolio-tile:hover img.project-image {
    width: 135px;
}
.portfolio-tile .project-info p {
    font-size: 20px;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    height: 16%;
    width: 100%;
    bottom: -30px;
    opacity: 0;
    transition: 0.2s linear;
    background-color: #293346;
    color: white;
    font-size: 20px;
    text-align: center;
}
.overlay p {
    color: white;
    font-size: 14px;
    line-height: 25px;
    font-family: "Lato", sans-serif;
}

.portfolio-tile:hover .overlay {
    opacity: 1;
    z-index: 999;
    bottom: 0px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
