.services-box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .services-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        color: var(--black);
        width: 26%;
        margin-top: 40px;
        .servicesSVG {
            fill: var(--black);
        }
        @media screen and (max-width: 525px) {
            width: 100%;
        }
        h4 {
            text-align: center;
        }
        p {
            @media screen and (max-width: 525px) {
                text-align: center;
            }
        }
        svg {
            width: 120px;
        }
    }
}
