:root {
    --headings-bg: #f0f0f0;
    --blue: #0080ff;
    --pages-titles: #e5e5e5;
    --gray-black: #202020;
    --black: #000000;
    --white: #f0f0f0;
    --whiter: #ffffff;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
