@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap");

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--gray-black);
    font-family: "Comfortaa", cursive;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 25px;
    background-color: var(--whiter);
    position: absolute;
    width: 80%;
    height: 90%;
    top: 5%;
    overflow-x: hidden;
    position: relative;
    left: 25px;
    transition: width 2s ease;
    overflow-y: scroll;
    @media screen and (max-width: 525px) {
        width: 100%;
        height: 100%;
        top: 50px;
        left: 0;
        padding: 20px 5px 50px 5px;
    }
}
.section-container::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.section-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px gray;
    border-radius: 10px;
}

/* Handle */
.section-container::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
}

/* Handle on hover */
.section-container::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.sections-headers {
    color: var(--black);
    text-align: center;
}
.sections-headers h1 {
    font-size: 105px;
    color: var(--pages-titles);
    @media screen and (max-width: 525px) {
        font-size: 71px;
    }
    @media screen and (max-width: 380px) {
        font-size: 57px;
    }
}
.sections-headers p {
    font-size: 18px;
    font-weight: 400;
    margin-top: -52px;
    @media screen and (max-width: 525px) {
        font-size: 15px;
        margin-top: -21px;
    }
    @media screen and (max-width: 380px) {
        font-size: 12px;
        margin-top: -16px;
    }
}
.section-header-span {
    font-weight: 800;
    color: var(--blue);
}
.h2-headings {
    width: 100%;
    background-color: var(--headings-bg);
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin-top: 30px;
    box-shadow: inset 5px 0 0px var(--blue);
}
